body{
    background-color: whitesmoke;
    font-family: Helvetica;
}

* {
    box-sizing: border-box;
}

main-section{
    display: flex;
    justify-content: center;
}

section#SignUp-section{
    padding: 3rem 6rem;
}

.header{
    text-align: center;
}

.header .logo{
    padding:14px 18px;
    background: #000000;
    width: fit-content;
    margin: 0 auto;
    color: #ffffff;
    

}

.header > h3{
    font-weight:950;
    font-size:30px;
    margin-bottom: 10px;
}

.header > h4{
    font-weight: lighter;
    font-size: large;
    margin-top: 0;
    margin-bottom: 40px;
}

.form-element-group{
    display: flex;
    justify-content: space-between;
}

.form-element-group > .form-element:first-child {
    margin-right: 10px;
  }

.form-element-group > .child-element {
    margin: 0;
  }

.form-element,
.form-element-group {
  margin-bottom: 24px;
}

.form-element > label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
  }

.form-element > input {
    padding: 8px 18px;
    font-size: 17px;
    border: 1px solid #ddd;
    width: 100%;
    height: 50px;
  }

@media (max-width: 500px) {
    main-section {
      display: block;
    }
    section#SignUp-section {
      padding: 2rem 0;
    }
    .form-element-group {
      flex-direction: column;
    }
  }
  

.form-element > input:focus {
    outline: none;
    border-color: #096b70;
  } 

  a.promo {
    color: #096b70;
    text-decoration: none;
    font-size: 14px;
  }
/* 
  .agree-content{
    display: flex;
    justify-content: center;
    margin: 0;
  } */

button.main-section {
    background: #096b70;
    padding: 18px;
    border: 1px solid #ddd;
    color: #ffffff;
    text-align: left;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }



  

  

